# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignorar carpetas del ambiente virtual
Include/
Lib/
Scripts/
pyvenv.cfg

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de distribución
*.egg
*.egg-info/
dist/
build/
